MAIN_ICON ICON "resource\\dog_32.ico"
NEW_BMP BITMAP "resource\\new.bmp"
OPEN_BMP BITMAP "resource\\open.bmp"
SAVE_BMP BITMAP "resource\\save.bmp"
FORWARD_BMP BITMAP "resource\\forward.bmp"
BACKWARD_BMP BITMAP "resource\\backward.bmp"
RUN_BMP BITMAP "resource\\run.bmp"
STOP_BMP BITMAP "resource\\stop.bmp"
SCORE_BMP BITMAP "resource\\score.bmp"
BLACK_STONE_BMP BITMAP "resource\\black_stone.bmp"
WHITE_STONE_BMP BITMAP "resource\\white_stone.bmp"
PASS_BMP BITMAP "resource\\pass.bmp"
RESIGN_BMP BITMAP "resource\\resign.bmp"
//#include "wx/msw/wx.rc"
